<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bonus Awarded</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px; text-align: center;">

    <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 10px; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-align: center;">
        <div style="text-align: center; margin-bottom: 20px; display: flex; justify-content: center; align-items: center; background-color: #Ffd700; border-radius: 10px;">
            <img src="https://tinypic.host/images/2024/12/01/logo-no-bg.png" alt="Logo" style="max-width: 100px; height: auto;">
            <h2 style="color: #ffffff; margin-left: 10px;">GoldEagleCredit</h2>
        </div>
        <h2 style="color: #Ffd700;">Congratulations, {{ recipient_full_name }}! 🎉</h2>
        <p style="color: #333333;">You've been awarded a bonus of <strong>${{ amount }}</strong> for your outstanding performance!</p>
        <p style="color: #333333;">Enjoy your bonus and keep up the great work!</p>
        <a href="https://GoldEagleCredit.com/dashboard/overview" style="color: #ffffff; background-color: #c56204; padding: 0.5rem; border-radius: 5px;">See Your New Balance!</a>
        <hr style="border-top: 1px solid #ccc; margin: 20px 0; ;">

        <div style="color: #a0a0a0; font-size: 12px;">
            <p>This email is generated automatically. Please do not reply.</p>
            <p>Copyright © 2024 GoldEagleCredit. All rights reserved.</p>
        </div>
    </div>

</body>
</html>
