<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Limited-Time Investment Opportunity!</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
        <div style="text-align: center; margin-bottom: 20px; display: flex; justify-content: space-between; background-color: #Ffd700; border-radius: 10px; padding:1rem; align-items:center;">
            <img src="https://tinypic.host/images/2024/12/01/logo-no-bg.png" alt="Logo" style="max-width: 100px; height: auto;">
            <h2 style="color: #ffffff; margin-left: 10px; font-weight:900;">GoldEagleCredit</h2>
        </div>
        
        <div style="background-color: #f4f4f4; padding: 20px; border-radius: 10px; margin-bottom: 20px;">
            <div style="text-align: center; margin-bottom: 20px;">
                <h1>Limited-Time Investment Opportunity!</h1>
            </div>
            <h2 style="font-size: 24px; font-weight: bold; margin-bottom: 10px;">Grow Your Wealth with Exclusive Investment Benefits</h2>
            <p style="font-size: 16px; margin-bottom: 10px;">Diversify your portfolio and maximize your returns! For a limited time, we're offering exciting investment opportunities with substantial profit potential. Increase your capital and achieve your financial goals faster with these tiered benefits:</p>
            <ul style="font-size: 16px; margin-bottom: 10px;">
                <li>25% Instant Profit: Invest between $1,000 and $4,999 and receive a 25% instant boost to your investment upon successful deposit.</li>
                <li>35% Instant Profit: Elevate your investment to $5,000 - $20,000 and enjoy a remarkable 35% instant profit added to your investment amount.</li>
                <li>50% Instant Profit: For investments exceeding $20,000, unlock our highest reward – a staggering 50% instant profit credited to your account right away.</li>
            </ul>
            <p style="font-size: 16px; margin-bottom: 10px;">Don't miss out on this chance to significantly grow your capital! All investments come with the added benefit of same-day withdrawal for your earned profits, providing you with ultimate flexibility and control over your finances.</p>
            <a href="https://GoldEagleCredit.com/deposit/" style="display: inline-block; background-color: #Ffd700; color: white; padding: 10px 20px; text-align: center; text-decoration: none; border-radius: 5px; margin-top: 20px;">Invest Now and Unlock Your Growth Potential!</a>
        </div>
        <div style="text-align: center; font-size: 12px;">
            <p>Have questions? Our dedicated support team is here to help. Contact us at support@example.com for more information.</p>
        </div>
    </div>
</body>
</html>
