<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Month Wishes</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
    <div style="background-color: #ffffff; width: 100%; max-width: 600px; margin: 0 auto; padding: 20px;">
        <div style="text-align: center; margin-bottom: 20px; display: flex; justify-content: space-between; background-color: #Ffd700; border-radius: 10px; padding: 1rem; align-items: center;">
            <img src="https://tinypic.host/images/2024/12/01/logo-no-bg.png" alt="Logo" style="max-width: 100px; height: auto;">
            <h2 style="color: #ffffff; margin-left: 10px; font-weight: 900;">GoldEagleCredit</h2>
        </div>
        <div style="color: #000000; padding: 10px; text-align: center;">
            <h1 style="margin: 0; font-family: 'Pacifico', cursive; color: #Ffd700;">🌟 Happy New Month! 🎉</h1>
        </div>
        <hr style=" background-color: #Ffd700; border: 0; border-top: 4px solid #Ffd700; width: 80%; margin: 20px auto;">
        <div style="padding: 20px; text-align: center;">
            <p style="color: #333333; font-size: 16px; line-height: 1.6; margin-bottom: 20px;">
                Dear Investor,
            </p>
            
            <p style="color: #333333; font-size: 16px; line-height: 1.6; margin-bottom: 20px;">
                As we step into this new month, we want to extend our heartfelt gratitude for your unwavering trust and support. You are more than just an investor; you are a cherished member of our community.
            </p>
            <p style="color: #333333; font-size: 16px; line-height: 1.6; margin-bottom: 20px;">
                May this month be filled with moments of joy, success, and prosperity. We are here to support you every step of the way, and we look forward to achieving new milestones together.
            </p>
            <p style="color: #333333; font-size: 16px; line-height: 1.6; margin-bottom: 20px;">
                Thank you for being a part of our journey. Let's make this month extraordinary!
            </p>
            <!-- Include the graphic image here -->
            <a href="https://GoldEagleCredit.com/" style="display: inline-block; padding: 10px 20px; margin: 20px 0; background-color: #Ffd700; color: #ffffff; text-decoration: none; border-radius: 5px;">Explore Opportunities</a>
        </div>
        <hr style=" background-color: #Ffd700; border: 0; border-top: 4px solid #Ffd700; width: 80%; margin: 20px auto;">
        <div style="font-size: 12px; text-align: center; padding: 20px; background-color: #Ffd700; color: #ffffff;">
            <p style="margin: 0;">© 2024 GoldEagleCredit Investment Company. All rights reserved.</p>
        </div>
    </div>
</body>
</html>
