<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to GoldEagleCredit</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px; text-align: center;">

    <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 10px; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-align: center;">
        <div style="text-align: center; margin-bottom: 20px; display: flex; justify-content: center; align-items: center; background-color: #Ffd700; border-radius: 10px;">
            <img src="https://tinypic.host/images/2024/12/01/logo-no-bg.png" alt="Logo" style="max-width: 50px; height: 50px;">
             <h2 style="color: #ffffff;">GoldEagleCredit</h2>
        </div>
        <h2 style="color: #Ffd700;">Hello {{ user.username }},</h2>
        <p style="color: #333333;">Welcome to GoldEagleCredit!</p>
        <p style="color: #333333;">Thank you for joining us.</p>
        <p style="color: #333333;">We are excited to have you as a member.</p>
        <p style="color: #333333;">If you have any questions or need assistance, feel free to contact us.</p>
        <hr style="border-top: 1px solid #ccc; margin: 20px 0;">
        <div style="color: #a0a0a0; font-size: 12px;">
            <p>This email is generated automatically. Please do not reply.</p>
            <p>Copyright © 2024 GoldEagleCredit. All rights reserved.</p>
            <p>For inquiries, please contact us at:</p>
            <p>Email: info@GoldEagleCredit.com</p>
        </div>
    </div>

</body>
</html>
